.board-game {
    display: flex;
    margin: 0 auto;
    width: 300px;
    height: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons-div {
    display: flex;
    justify-content: space-between;
}

button {
    border-radius: 30px;
    background-color: brown;
    margin: 0 15px;
    width: 70px;
    height: 30px;
    color: white;
    font-weight: bold;
}